<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars example</title>
</head>
<body>
    <p>hello this is {{name}}</p>
    {{!-- in this only name will be rerender other file not rerender --}}
</body>
</html>